{{> header }}

{{> lside }}

    <div id="rightside">
      <div id="maintext">Over the years I have helped out many friends and family members with various computer tasks. From custom programs
      to new websites, databases to Excel spreadsheets, there's not much I haven't done. Listed below are some of the sites that I have worked on, 
      and a description of what I did to help out. <a href="mailto:nick@ironboundsoftware.com">Send me an email</a> if you have any questions
      or if you have a task you are interested in having me look at.
      <br/><p/>
     	<a href="http://royalmoonbeads.com">      <img src="/static/logo_small.png" border="0"/><br/>Royal Moon Beads</a> - My wife's beading buisness. She asked me to help her with the "Buisness side"
     	of her buisness, namely setting up the website and getting her back office operations in order. I have done this by writing and maintaing her 
     	website, and setting up spreadsheets to help her with inventory tracking. Additionally, I am in the process of writing a cross platform Python 
     	application to allow her to update her website product gallery with ease.
     	<p/>
     	<br/>
     	<a href="http://blueghosts.com"><img src="http://www.blueghosts.com/templates/fine_lines-navy_white/logo.gif" border="0"/><br/>
     	Blueghosts</a> - My dad's unit from Vietnam, the F Troop, 8th Calvary, Americal Division. Several years ago 
     	the members of the Blueghosts Association (several hundred of them) were being kept track of using an Excel spreadsheet. Unfourtunately, 
     	there were 4 or 5 copies floating around, each one with different member's listed in it. I was approached and asked to help out with this. I
     	designed a simple database schema, consolidated the Excel data, and uploaded it to a database. I then designed a password protected
     	 PHP based website that would allow the members of the association to look up each other. A feature of the web site was the ability for each
	  	user to	restict access to their personal data (email address, phone number, etc.) if they chose to.
      <br/>
      <div id="centertext">
	Questions? Comments? Feel free to send an <a href="mailto:nick@ironboundsoftware.com">email</a>.
      </div>
      <br/>

{{> footer }}