<!DOCTYPE html>
<html>
<head>
    <title>Google Business Monitor - Automated Review & Competitor Tracking</title>
    <script defer data-domain="ironboundsoftware.com" src="https://plausible.coolify.ironboundsoftware.com/js/script.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            font-family: system-ui, -apple-system, sans-serif;
            line-height: 1.5;
            margin: 0;
            padding: 0;
        }
        .hero {
            background-color: #f8fafc;
            padding: 4rem 2rem;
            text-align: center;
        }
        .container {
            max-width: 1024px;
            margin: 0 auto;
            padding: 2rem;
        }
        .features {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: 2rem;
            margin: 3rem 0;
        }
        .feature-card {
            background: white;
            padding: 2rem;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        }
        .cta-button {
            background: #2563eb;
            color: white;
            padding: 1rem 2rem;
            border-radius: 6px;
            text-decoration: none;
            display: inline-block;
            margin-top: 1rem;
        }
        .pricing {
            text-align: center;
            padding: 3rem 0;
        }
        .testimonial {
            background: #f8fafc;
            padding: 2rem;
            border-radius: 8px;
            margin: 2rem 0;
        }
    .modal {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
        }

        .modal-content {
            background-color: white;
            margin: 15% auto;
            padding: 2rem;
            border-radius: 8px;
            max-width: 500px;
            position: relative;
        }

        .close {
            position: absolute;
            right: 1rem;
            top: 0.5rem;
            font-size: 1.5rem;
            cursor: pointer;
        }

        .step {
            display: none;
        }

        .step.active {
            display: block;
        }

        .form-group {
            margin-bottom: 1rem;
        }

        label {
            display: block;
            margin-bottom: 0.5rem;
            font-weight: 500;
        }

        select, input {
            width: 100%; 
            padding: 0.5rem;
            margin-bottom: 1rem;
            border: 1px solid #ddd;
            border-radius: 4px;
        }

        button {
            background: #2563eb;
            color: white;
            padding: 1rem 2rem;
            border-radius: 6px;
            text-decoration: none;
            display: inline-block;
            margin-top: 1rem;
        }

        button:hover {
            background: #1d4ed8;
        }

        .success-check {
            color: #22c55e;
            font-size: 2rem;
            text-align: center;
            margin: 1rem 0;
        }

        .success-message {
            text-align: center;
        }

        .next-steps {
            margin-top: 1rem;
            padding-left: 1.5rem;
        }

        .next-steps li {
            margin-bottom: 0.5rem;
        }
    </style>
</head>
<body>
    <div class="hero">
        <h1>Never Miss an Important Review Again</h1>
        <p>Automated monitoring for your Google Business listing. Get instant alerts for new reviews, track competitor changes, and protect your online reputation.</p>
        <a onclick="openModal()" href="#early-access" class="cta-button">Get Early Access - 50% Off</a>
    </div>

    <div class="container">
        <div class="features">
            <div class="feature-card">
                <h3>Instant Review Alerts</h3>
                <p>Get notified immediately when new reviews come in. Respond quickly to maintain your reputation.</p>
            </div>
            <div class="feature-card">
                <h3>Competitor Tracking</h3>
                <p>Monitor competitor prices, hours, and review patterns. Stay ahead of market changes.</p>
            </div>
            <div class="feature-card">
                <h3>Review Analytics</h3>
                <p>Track your rating trends, response times, and customer sentiment over time.</p>
            </div>
        </div>

        <div class="testimonial">
          <p>Join the smart businesses who are automating their online presence management. While your competitors are manually checking reviews and missing opportunities, you'll get instant alerts about new reviews, competitor changes, and customer feedback.</p>
          <p>Turn your Google Business listing from a manual task into an automatic competitive advantage.</p>
        </div>

        <div class="pricing">
            <h2>Early Access Pricing</h2>
            <p>Launch Special: $49/month (50% off regular price)</p>
            <p>First 10 businesses get additional features:</p>
            <ul style="list-style: none; padding: 0;">
                <li>✓ Custom competitor tracking</li>
                <li>✓ Weekly insight reports</li>
                <li>✓ Priority support</li>
            </ul>
            <a href="#early-access" onclick="openModal()" class="cta-button">Get Early Access</a>
        </div>
    </div>

     <!-- Modal -->
    <div id="signupModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            
            <!-- Step 1: Challenge Question -->
            <div id="step1" class="step active">
                <h2>Quick Question First</h2>
                <p>To provide the most relevant solution for your business:</p>
                <div class="form-group">
                    <label>What's your biggest challenge with Google Business?</label>
                    <select id="challenge" onchange="goToStep2()">
                        <option value="">Select a challenge...</option>
                        <option value="reviews">Keeping up with reviews</option>
                        <option value="competitors">Tracking competitors</option>
                        <option value="rankings">Improving rankings</option>
                        <option value="time">Saving time on management</option>
                        <option value="other">Other</option>
                    </select>
                </div>
            </div>

            <!-- Step 2: Lead Form -->
            <div id="step2" class="step">
                <h2>Secure Your Early Access</h2>
                <p>Be one of the first 10 businesses to get 50% off lifetime access.</p>
                
                <form id="leadForm" onsubmit="handleSubmit(event)">
                    <div class="form-group">
                        <label for="businessName">Business Name</label>
                        <input type="text" id="businessName" required>
                    </div>
                    
                    <div class="form-group">
                        <label for="name">Your Name</label>
                        <input type="text" id="name" required>
                    </div>

                    <div class="form-group">
                        <label for="email">Email Address</label>
                        <input type="email" id="email" required>
                    </div>

                    <div class="form-group">
                        <label for="phone">Phone (optional)</label>
                        <input type="tel" id="phone">
                    </div>

                    <button type="submit">Reserve My Spot</button>
                </form>
            </div>

            <!-- Step 3: Success Message -->
            <div id="step3" class="step">
                <div class="success-check">✓</div>
                <div class="success-message">
                    <h2>Thanks for Your Interest!</h2>
                    <p>We'll be in touch within 24 hours to:</p>
                    <ul class="next-steps">
                        <li>Schedule your free consultation</li>
                        <li>Set up your custom tracking dashboard</li>
                        <li>Lock in your 50% discount</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script>
            // Modal functions
        function openModal() {
            document.getElementById('signupModal').style.display = 'block';
            // Track modal open
            plausible('Modal Opened');
        }

        function closeModal() {
            document.getElementById('signupModal').style.display = 'none';
            // Reset to first step when closing
            showStep(1);
        }

        // Step navigation
        function showStep(stepNumber) {
            // Hide all steps
            document.querySelectorAll('.step').forEach(step => {
                step.classList.remove('active');
            });
            // Show requested step
            document.getElementById('step' + stepNumber).classList.add('active');
        }

        function goToStep2() {
            const challenge = document.getElementById('challenge').value;
            if (challenge) {
                // Track challenge selection
                plausible('Challenge Selected', {
                    props: {
                        challenge: challenge
                    }
                });
                showStep(2);
            }
        }

        // Handle form submission
        function handleSubmit(e) {
            e.preventDefault();
            
            // Get form data
            const data = {
                businessName: document.getElementById('businessName').value,
                name: document.getElementById('name').value,
                email: document.getElementById('email').value,
                phone: document.getElementById('phone').value,
                challenge: document.getElementById('challenge').value
            };

            // Track lead submission in Plausible
            plausible('Lead Submitted', {
                props: {
                    businessName: data.businessName,
                    challenge: data.challenge,
                    email: data.email,
                    phone: data.phone,
                    name: data.name
                }
            });

            // Show success message
            showStep(3);
        }

        // Close modal if clicked outside
        window.onclick = function(event) {
            if (event.target == document.getElementById('signupModal')) {
                closeModal();
            }
        }
    </script>
</body>
</html>
