{{> header }}

{{> lside }}

    <div id="rightside">
      <div id="maintext">
	<br/>
	<dd>Welcome to <b>Iron Bound Software</b> the home of high quality software. Listed below are our current offerings. Please check back soon for updates and new additions!<br>
	</dd>
      </div>
      <br>
  <div id="product">
		<br><h2><a href="https://additpulse.com">
			<br>AdditPulse</h2></a>
Learn who is advertising in the subreddits you want to target.</br></br>
	</div>
  
  <div id="product">
		<br><h2><a href="https://remotematcher.com">
			<br>RemoteMatcher</h2></a>
Find your perfect remote job. Tell us what you are looking for, then get a daily email with jobs that match. 
</br></br>
	</div>
	<div id="product">
		<br><h2><a href="https://pythondebugging.com">
			<img src="https://pythondebugging.com/images/cover.png" width=280 height=264><br>Adventures in Python Debugging</h2></a>
Learn to debug Python code like a pro!</br></br>
	</div>
      <div id="product">
	<br><h2><a href="https://heroicinspiration.com">
        <img src="/static/heroic_inspiration.png"><br>Heroic Inspiration</a></h4>
	The tools to inspire you to be the best you can be. Join our <a href="https://www.facebook.com/TimelessStoicQuotes/">Facebook commuinity</a> (22k members)!</a>
	<br/><br/>
      </div>

  <div id="product">
		<br><h2>
			<br>Consulting Services</h2>
Need help getting on the internet? Don't like "talking to computers"? Come talk to me!
</br>
Here are some of the folks I have been able to help:
<li><a href="https://pathtoshine.org">Path To Shine</a> - In addition to helping them with their website, I provide consulting on all manner of technology related issues. This non-profit is making a difference in the education of disadvantaged kids, and I am proud to help them out.</li>
<br>
Let's talk and see if I can help you out: <a href="mailto:nick@ironboundsoftware.com">Email me</a>
</br></br>
	</div>
  
      <!-- div id="product">
	<br><h4><a href="https://chrome.google.com/webstore/detail/gkdlmijbnecaomahcboigaladfhhjonf?hl=en-US&hc=search&hcp=main">Quick Form</a></h4>
	A Chrome plugin to give you quick access to your forms on Google Docs!
      </div>
      <div id="product">
	<br><h4><a href="http://ratemyresume.ironboundsoftware.com">Rate My Resume</a></h4> 
	Get your resume to the top of the stack! This app will look at your resume and job posting and tell
	you if you are a good fit. Its fast, free, and ready to <a href="http://ratemyresume.ironboundsoftware.com">help you be awesome!</a>
	<br/><br/>
      </div>
      <div id="product">
	<br><h4><a href="http://trendyontwitter.blogspot.com/">Trendy on Twitter</a></h4>This is an goofy little experiment I did with twitter, python, Amazon EC2, and SEO.
      </div>
      <div id="product">
	<a href="sn.html"><img src="/static/sasquatch.png" border="0"></a>
	<br><a href="sn.html">The Sasquatch News</a>- An OS X dashboard widget for finding the latest news about Bigfoot. <br/><br/><a id="now" href="http://ironboundsoftware.com/downloads/Sasquatch News.zip">Download Now!</a>
      </div>
      <br>
      <br>
-->
      <div id="centertext">
	Questions? Comments? Feel free to send an <a href="mailto:nick@ironboundsoftware.com">email</a>.
      </div>
      <br>

{{> footer }}
