{{> header}}
{{> lside }}

<div id="rightside">
  <div id="maintext">
    <dd>
      <h2>Now</h2>
      Here are the projects I'm working on as of August 2020.
    </dd>
  </div>
	<div id="product">
<h3>Space</h3>
A little vague sounding, but I'm thinking a lot about space and researching some topics.

Check <a href="https://blog.ironboundsoftware.com">the blog</a> to see what's going on there.
</div>
  <div id="product">
    <h3>RemoteMatcher.com</h3>
    <p>Tired of hunting for the perfect remote job? Let the jobs come and find you!</p>
    <a href="https://remotematcher.com">Remote Matcher</a>
    <p>This is a work in progress, so visit the site and sign up to learn more as I roll it out.</p>
    <p><em>Tech stack: Python, Google Cloud Services, SMTP</em></p>
    </div>
    <div id="product">
      <h3>PythonDebugging.com</h3>
      <p>I've written a book to help teach Python developers (especially those that are new to the language) about how to debug Python projects.</p>
      <a href="https://pythondebugging.com">Check out PythonDebugging.com</a>
      <p>I also have a course to help teach Python developers about debugging Python code. It's a FREE 5 part email course!</p>
      <p>Here's where you can sign up for the course right now! (Feedback is welcome, simply reply to any of the emails):
      </p>
      <!-- Begin MailChimp Signup Form -->
      <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
      <style type="text/css">
      #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
      /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
      We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
      </style>
      <div id="mc_embed_signup" style="color: red">
        <form action="//ironboundsoftware.us4.list-manage.com/subscribe/post?u=b85e98fe64eeecfe8380a6780&amp;id=7aa4d336ee" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
          <label for="mce-EMAIL"> Learn to debug Python NOW.</label>
          <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_b85e98fe64eeecfe8380a6780_7aa4d336ee" tabindex="-1" value=""></div>
          <div class="clear"><input type="submit" value="Let's get started now!" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </div>
        </form>
      </div>

      <!--End mc_embed_signup-->
    </div>

    <div id="product">
      <h3>Heroic Inspiration/Timeless Stoic Quotes</h3>
      <p>I have this idea that the world needs more inspiration. This is an ongoing experiment (without a clearly defined end goal), but if you would like to see what is going on with it, check out:</p>
      <li><a href="https://www.facebook.com/TimelessStoicQuotes">Timeless Stoic Quotes</a> (Over 5,000 people in the group!)</li>
      <li><a href="https://heroicinspiration.com">Heroic Inspiration</a></li>
    </div>

    {{! <div id="product"> }}
    {{!   <h3>Entreprogrammers: Seal Team</h3> }}
    {{!   <p>Every week I do a call with my mastermind group and we record and publish it as a podcast/video. Check it out!</a> }}
    {{!   <li><a href="https://www.youtube.com/channel/UCe74VhB63v74lAYG3E78scw">Entreprogrammer Seal Team archives</a></li> }}
    {{! </div> }}

</div>



{{> footer }}
