{{> header }}

{{> lside }}

    <div id="rightside">
      <div id="maintext">
	<img src="/static/PasswordMaker.png" align="left"/>
	<dd/>Its a common situation. You visit a new website, and they want you to sign up with a username and a password. Or maybe your network administator has decided that its time for everyone to change their passwords. Now you have to come up with a password that you'll remember. But how?</p>
	  <p><dd/>By using the Password Maker, that's how! Password Maker works by letting you select a word, say the name of your pet dog, then by pressing the "Make a password" button, Password Maker will subsitiute in characters that look similar to your original word. This way the new password looks like your original word, but is more secure (because it has different characters subsituted).</p>
	  <br/>
	  <p><dd/>Password Maker is a Dashboard Widget for Mac OS X 10.4. To get Password Maker, simply click on the link below.</p>
      </div>
      <div id="bigtext">
	<a href="downloads/PasswordMaker.zip">Download it now!</a>
      </div>

{{> footer }}
