{{> header}}
{{> lside }}


    <div id="rightside">
      <div id="maintext">
	Hi, If you would like to make a payment, please use this link: <a href="https://paypal.me/NLoadholtes">Paypal payment</a>
	</div>
	<br/>
    </div>

{{> footer }}