{{> header }}

{{> lside }}

    <div id="rightside">
      <br>
      <div id="products">

		<div id="product">
Stuck on a Sudoku puzzle? Need a hint? Try<br/>
<span id="now"><a href="/sudokuhelper.html">Sudoku Helper</a></span>
		</div>
		<div id="product">
		  <a href="sn.html"><img src="/static/sasquatch.png" border="0"></a>
		  <br><a href="sn.html">The Sasquatch News</a>- An OS X dashboard widget for finding the latest news about Bigfoot. <br/><br/><a id="now" href="http://ironboundsoftware.com/downloads/Sasquatch News.zip">Download Now!</a>
		</div>
		<div id="product">
		  <a href="passwordmaker.html"><img src="/static/password.png" border="0"></a>
		  <br><a href="passwordmaker.html">Password Maker</a>- An OS X dashboard widget for creating passwords. <br/><br/><a id="now" href="http://ironboundsoftware.com/downloads/PasswordMaker.zip">Download Now!</a>
		</div>

      </div>
      <br/>
      <p/>
      <div id="centertext">
	Questions? Comments? Feel free to send an <a href="mailto:nick@ironboundsoftware.com">email</a>.
      </div>
      <br>

{{> footer }}
