{% include "header.html" %}

{% include "lside.html" %}

    <div id="rightside">
      <div id="maintext">
	<img src="SasquatchNews.jpg" align="center"/>
	<dd/><p>Curious about what a Sasquatch is up to these days? Been hankering for some news about Bigfoot? Download this OS X Dashboard Widget to get the latest news from <A href="http://news.yahoo.com">Yahoo! News</a>.</p><br/>
	</div>
	<br/>
      <div id="bigtext">
	<a href="downloads/Sasquatch News.zip">Download it now!</a>
      </div>

{% include "footer.html" %}
