{{> header }}

{{> lside }}
	<script>
		function proc()
		{
			
			var col = parseLine(window.document.forms[0].col.value);
			var row = parseLine(window.document.forms[0].row.value);
			var box = parseLine(window.document.forms[0].box.value);
			var nums = genNumbers();

			list = reduceNumbers(col, nums);
			list = reduceNumbers(row, list);
			list = reduceNumbers(box, list);
			alert("Try: " + list);
		}
		
		function genNumbers()
		{
			return new Array(1,2,3,4,5,6,7,8,9);
		}
		
		function parseLine(input)
		{
			var output = new Array();
			for(x=0; x<input.length;x++)
			{
				if(input[x] != " ") //Replace this with a regular expression checking for numbers
				{
					output.push(input[x]);
				}
			
			}
			return output;
		}
		
		function reduceNumbers(input, list)
		{
			var output = new Array();
			for(x=0; x<list.length;x++)
			{
				for(y=0;y<input.length;y++)
				{
					if(list[x] == input[y])
						list.splice(x,1);
				}			
			}
			return list;		
		}
		
	</script>

    <div id="rightside">
      <div id="maintext">
		<div style="text-align:center;">
		<div style="border: thin; border-color: gold;">
		<form name="helper">
			<h1>Sudoku Helper</h1>
			Stuck? Need a hint? Then you have come to the right place!<p/>
			To use the Sudoku Helper, simply pick a square in your puzzle you would like to know more about. Then simply enter the numbers in that column,
			then enter the numbers in the row, and if you want, enter the numbers that are in the square. Click on the "Give me a hint!" button
			and the Sudoku Helper will tell you which numbers could be in that square!<p/>
			To try another square, simply click on the "Clear the numbers" button and then you can enter in your new numbers.<p/>
			Enter the numbers in the column:&nbsp;<input type="text" name="col" size="8"/><br/>
			Enter the numbers in the row:&nbsp;<input type="text" name="row" size="8"/><br/>
			Enter the numbers in the box:&nbsp;<input type="text" name="box" size="8" /><br/>
			<input type="button" onClick="proc()" value="Give me a hint!"/> <input type="button" onClick="window.document.forms[0].reset();" value="Clear the numbers" /><br/>
		<script type="text/javascript"><!--
google_ad_client = "pub-7404509328078615";
google_ad_width = 468;
google_ad_height = 60;
google_ad_format = "468x60_as";
google_ad_type = "text_image";
google_ad_channel ="3964672282";
google_color_border = "444444";
google_color_bg = "444444";
google_color_link = "FFAA00";
google_color_url = "999999";
google_color_text = "CCCCCC";
//--></script>
<script type="text/javascript"
  src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>

</div>
</div>
		</form>

{{> footer }}