<div class="py-16 bg-white">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="text-center">
            <h2 class="text-3xl font-bold mb-2">{{ page.contact.title | default: "Let's Connect" }}</h2>
            <p class="text-gray-600 mb-8">{{ page.contact.description | default: "Interested in working together? I'd love to hear from you." }}</p>
        </div>
        <div class="max-w-3xl mx-auto">
            <div class="bg-gray-50 rounded-xl shadow-lg p-8">
                {% include contact-form.html %}
            </div>
        </div>
    </div>
</div>
