<footer class="bg-gray-800 text-white py-8">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex flex-col md:flex-row justify-between items-center">
            <div class="mb-4 md:mb-0">
                <p>{{ site.copyright }}</p>
            </div>
            <div class="flex space-x-6">
                {% for link in site.social_links %}
                    <a href="{{ link.url }}" class="hover:text-gray-300">{{ link.title }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</footer>

