<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet">
    {% if page.additional_css %}
        {% for css in page.additional_css %}
            <link rel="stylesheet" href="{{ css | relative_url }}">
        {% endfor %}
    {% endif %}
    <link rel="authorization_endpoint" href="https://indieauth.com/auth">
    <link rel="token_endpoint" href="https://tokens.indieauth.com/token">
    <link rel="me" href="https://blog.ironboundsoftware.com/"/>
    <link rel="me" href="https://github.com/nloadholtes"/>
    <link rel="me" href="https://twitter.com/nloadholtes"/>
</head>
