<div class="bg-gray-800 text-white py-16">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <h1 class="text-4xl font-bold mb-4">{{ page.hero.title }}</h1>
        <p class="text-2xl text-gray-300"><em>If you don't like talking to computers, come talk to me.</em></p>
        <p class="text-xl text-gray-300">&nbsp;</p>
        <p class="text-xl text-gray-300">{{ page.hero.description }}</p>
    </div>
</div>
