<nav class="bg-gray-800 text-white">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex items-center justify-between h-16">
            <div class="flex items-center">
                <a href="{{ '/' | relative_url }}" class="flex items-center space-x-3">
                    <img src="{{ site.logo | relative_url }}" alt="{{ site.title }} Logo" class="h-8 w-8">
                    <span class="text-xl font-bold">{{ site.title }}</span>
                </a>
            </div>
            <div class="flex space-x-4">
                {% for item in site.data.navigation %}
                    <a href="{{ item.url | relative_url }}" 
                       class="px-3 py-2 hover:bg-gray-700 rounded-md {% if page.url == item.url %}bg-gray-700{% endif %}">
                        {{ item.title }}
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
</nav>
