{% assign project = include.project %}
<div class="bg-white rounded-lg shadow-lg overflow-hidden hover:shadow-xl transition-shadow duration-300">
    {% if project.image %}
        <img src="{{ project.image | relative_url }}" alt="{{ project.title }} Preview" class="w-full h-48 object-cover">
    {% endif %}
    <div class="p-6">
        <h3 class="text-xl font-bold mb-2">{{ project.title }}</h3>
        <p class="text-gray-600 mb-4">{{ project.description }}</p>
        {% if project.technologies %}
            <div class="flex flex-wrap gap-2 mb-4">
                {% for tech in project.technologies %}
                    <span class="px-3 py-1 bg-blue-100 text-blue-800 rounded-full text-sm">{{ tech }}</span>
                {% endfor %}
            </div>
        {% endif %}
        {% if project.url %}
            <a href="{{ project.url }}" class="text-blue-600 hover:text-blue-800 font-medium">{{ project.link_text | default: "Visit Project" }} →</a>
        {% endif %}
    </div>
</div>
