<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        {% for project in site.data.project %}
            {% include project-card.html project=project %}
        {% endfor %}
    </div>
</div>
