<!DOCTYPE html>
<html lang="en">
    {% include header.html %}
    <body class="bg-gray-50">
        {% include navigation.html %}
        
        {% if page.hero %}
            {% include hero.html %}
        {% endif %}
        
        {% include content.html %}
        
        {% if page.show_contact %}
            {% include contact.html %}
        {% endif %}
        
        {% include footer.html %}
        {% include analytics.html %}
    </body>
</html>

