    </span>
      <div id="footertext">Copyright Iron Bound Software LLC and Nick Loadholtes, 2005-2025</div>
    </div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-247234-1', 'auto');
  ga('send', 'pageview');

</script>
<script defer data-domain="ironboundsoftware.com" src="https://plausible.coolify.ironboundsoftware.com/js/script.js"></script>

  </body>
</html>
