<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <Meta Name="Description" Content="Software For The Mac, The Web, And Anything Else It Can Run On">
    <Meta Name="Dc.Title" Content="Iron Bound Software">
    <Meta Name="Keywords" Content="Programming, Mac, Os X, linux, Nick Loadholtes, Loadholtes, Java, Python"><Title>Iron Bound Software</Title>
    <style type="text/css">
      @import "/static/style.css";
    </style>
    <link rel="authorization_endpoint" href="https://indieauth.com/auth">
    <link rel="token_endpoint" href="https://tokens.indieauth.com/token">
	<link rel="me" href="https://ironboundsoftware.com/blog"/>
	<link rel="me" href="http://delicious.com/nloadholtes"/>
	<link rel="me" href="http://www.reddit.com/user/nloadholtes"/>
	<link rel="me" href="http://news.ycombinator.com/user?id=nloadholtes2"/>
	<link rel="me" href="http://www.linkedin.com/in/nickloadholtes"/>
	<link rel="me" href="https://bitbucket.org/nloadholtes"/>
	<link rel="me" href="https://github.com/nloadholtes"/>
	<link rel="me" href="https://twitter.com/nloadholtes"/>
	<link rel="me" href="https://social.ironboundsoftware.com/nloadholtes"/>
  <link rel="me" href="https://social.ironboundsoftware.com/users/nloadholtes"/>
  </head>
  <body>
