<div id="banner">
  <a href="/"><img src="/static/ironboundsoftwarelogo_sm.gif" id="logo" border=0/>
      Iron Bound Software
  </a>
</div>
  <div id="leftside">
    <a href="/"><span id="navbox">Home</span></a>
    <a href="/products.html"><span id="navbox">Products</span></a>
    <a href="/consulting.html"><span id="navbox">About</span></a>
    <a href="https://blog.ironboundsoftware.com"><span id="navbox">Blog</span></a>
    <a href="mailto:nick@ironboundsoftware.com"><span id="navbox">Contact</span></a>
    <a href="/now.html"><span id="navbox">Now</span></a>
  </div>
