body {
    background-color: #111111;
    color: white;
    font: "Lucida Grande";
    margin: 0px;
}

a {
    color: gold;
    font-weight: bold;
    text-decoration: none;
    cursor:pointer;
}

a.hover {
    text-decoration: underline;
}

#banner { 
    /* background-color: purple;  */
    background-color: #333333;
    height:2.5em;
    width:800px;
    margin: 0 auto;
    color: white;
    font: 28pt "Lucida" ;
    font-style: italic;
    font-weight: bold;
    line-height: 2.5em;
}

#banner a {
    color:white;
}

#leftside { 
    /* background-color: red; */
    margin: 5px auto;
    width: 800px;
    height: 1em;
    justify-content: center;
    display: flex
;
 }

#rightside { 
    /* background-color: yellow; */
    background-color:#333333;
    top: 3em;
    margin:0 auto;
    width:800px;
    min-height: 80%;
    padding: 0.75em .75em 0.75em .75em; 
}

#footer { 
    /* background-color: green; */
    position:absolute;
    bottom:0;
}

#maintitle {
    color: white;
    font: 28pt "Lucida" ;
    font-style: italic;
    font-size: 24pt;
    font-weight: bold;
}

#maintext {
    top: 85px;
    left: 80px;
}

#footertext {
    color: gray;
    width: 100%;
    font: 10pt "Lucida Grande";
    text-align: center;
}

#products {
    text-align: center;
    background-color: gray;
    margin: 0px auto;
    width: 80%;
}

#product {
    border: 10px auto;
    margin: 10px auto;
    background-color: #555555;
    text-align: center;
    width: 80%;
}

#centertext {
    text-align: center;
    width: 100%;
}

#tipjar {
    margin: 0px auto;
    text-align: center;
    width: 85%;
    position: absolute;
    bottom: 15px;
    left: 60px;
}

#logo { 
    top: 1px;
    left: 1px;
    vertical-align:middle;
}

#bigtext { 
    font-size: xx-large;
    text-align: center;
 }

#navbox { 
    background-color: gray;
    font-size: 14pt;
    text-align:center;
    width: 131px;
    margin: 0 auto;
    border: solid;
    border-color: white;
    border-width: 1px;
    float:left;
}

#now { 
    font-size: x-large;
    font-style: italic;
}

